:root {
    --primary-color: #EFEEE7;
    --accent-color: #8D7F2E;
    --button-color: #FF4E00;
    --text-color: #232323;
  }
  /* Global Edits */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--primary-color);
    font-family: 'Quattrocento', serif;
  }

#logo {
  color: var(--text-color);
  font-family: 'Oswald', sans-serif;
}

.nav-header {
  min-height: 10vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.line1 .line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background-color: white;
  pointer-events: none;
}