:root {
    --primary-color: #EFEEE7;
    --accent-color: #8D7F2E;
    --button-color: #FF4E00;
    --text-color: #232323;
  }
  /* Global Edits */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--primary-color);
    font-family: 'Quattrocento', serif;
    overflow-x: hidden;
  }

main {
  position: absolute;
}
/* Nav Bar  */
#logo {
  color: var(--text-color);
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}


.nav-header {
  min-height: 10vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 2rem 0;
  z-index: 2;
  position: relative;
}
/* Burger Menu */
.line1, .line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background-color: var(--button-color);
  pointer-events: none;
}
/* Section Setup */
.slide {
  min-height: 100vh;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  background: var(--primary-color);
}
/* Landing */
.landing {
  min-height: 100vh;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  background: var(--primary-color);
}

.landingText h1 {
  font-family: 'Quattrocento', serif;
  font-size: 6rem;
  text-align: center;
}

.landingText h3 {
  padding: 3rem 0;
  font-size: 2rem;
  color: var(--text-color);
}

.landingSubText {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing-exp {
  padding: 1rem 2rem;
  background: none;
  border: none;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

/* Sections */
.hero-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 25rem;
  padding-left: 5rem;
  position: relative;
}

/* Section Images */
.hero-img {
  position: relative;
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Color Hierarchy in Text for Section */
.strategyOne-span, .landing-span {
  color: var(--button-color)
}
.strategyTwo-span {
  color: var(--accent-color);
}
.strategyThree-span {
  color: var(--button-color);
}

.hero-desc h2 {
  font-family: 'Quattrocento', serif;
  font-size: 5rem;
}

.hero-desc p {
  padding: 3rem 0;
  font-size: 1.5rem;
  color: var(--text-color);
}

/* Call to Action Buttons */
.explore {
  padding: 1rem 2rem;
  background: none;
  border: none;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  font-size: 1rem;
  text-decoration: none;
  align-self: flex-start;
  cursor: pointer;
}

/* Hamburger Menu Set up */
.nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--text-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}


.burger {
  cursor: pointer;
}

.nav-links {
  font-size: 3rem;
  flex-basis: 30rem;
}

.nav-links h3 {
  padding: 3rem 0;
}

.contact {
  flex-basis: 30rem;
}

.contact h2 {
  font-size: 3rem;
  padding: 2rem 0;
}

.contact p {
  font-size: 1.5rem;
  line-height: 2rem;
}
/* Hides Page, uses JS animation to reveal page */
/* .reveal-img, .reveal-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  left: 0;
  top: 0;
} */

/* cursor */
cursor {
  width: 3rem;
  height: 3rem;
  border: 2px var(--text-color);
  border-radius: 50%;
  position: absolute;
}